body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

nav a {
    padding: 0.5em;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    background-color: #ddd;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

p {
    line-height: 1.5em;
}
